@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Open Sans', Helvetica, 'Arial', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

*:focus {
  outline: none;
}

body {
  font-size: 1rem;
  font-family: system-ui;
}

.body--margin {
  margin-top: 80px;
  transition: ease-in-out 0.5;
  background-image: url(../images/background/c.png);
   background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}