.equipos {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px; 
    margin: auto;
    width: 80%;
    margin-bottom: 100px;
    transition: 0.3s ease-in-out;
}
.equipo:hover{
    cursor:pointer;
        .equipo__foto {
            transform: scale(1.13);
            transition: 0.3s ease-in-out;
        }
    }


.equipo {
    background: white;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Espacio entre equipos */
    border-radius: 40px;
    box-shadow: 0 0 20px 1px #000000dd;
    transition: 0.3s ease-in-out;
}

.equipo__fondo {
    
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.equipo__fondo img {
    border-radius: 40px 40px 0 0;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    margin: auto;
}

.equipo__foto {
    position: absolute;
    left:10%;
    top: 10%;
    width: 80%;
    margin: auto;
    transition: 0.3s ease-in-out;
}

.equipo__info {
    height: 100px;
    position: relative;
    top:-150px;
    left: 30px;
    margin: auto;
    width: 100%;
    padding: 10px;
    /*background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
    color: black;
}

@media (max-width:1500px){
    .equipos {
        width: 100%;
        transition: 0.3s ease-in-out;
    }
    .equipo {
        width: 500px;
        height: 500px;
        transition: 0.3s ease-in-out;
    }
}
@media (max-width:1200px){
    .equipos {
        grid-template-columns: auto;
        transition: 0.3s ease-in-out;
    }
    .equipo {
        width: 600px;
        height: 600px;
        transition: 0.3s ease-in-out;
    }
}
@media (max-width:700px){
    .equipos{
        gap:20px;
    }
    .equipo {
        width: 300px;
        height: 300px;
        transition: 0.3s ease-in-out;
    }
    .equipo__info {
        top:-90px;
    }
}

/* 
    Created on : 11 jun 2024, 19:57:16
    Author     : Oliver
*/

