*{
    box-sizing: border-box;
}
.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../images/background/pista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -1400px;
    background-attachment: fixed;
    background-color: rgb(210, 239, 255);
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.form {
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px white;
    border-radius: 30px;
    text-align: center;
    padding: 40px 50px 30px 50px;
    box-shadow: 0px 0px 20px 0px rgb(240, 240, 240);
    transition: ease-in-out 0.3s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__img{
    color:black;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    padding:25px 30px;
    font-size: 30px;
    top:-50px;
    border-radius: 100px;
}
.form__part {
    display:flex;
    flex-direction: row;
}

.form__label {
    background-color: white;
    padding:12px 18px;
    margin: 10px 0;
}
.form__label i{
    color:#858585;
    font-size:20px;
}

.form__input {
    background-color: rgb(220, 220, 220);
    padding: 12px 20px;
    margin: 10px 0;
    border:0;
    font-size:20px;
    width: 100%;
    min-width: 150px;
    transition: ease-in-out 0.2s;
}
.form__input:focus {
    background-color: rgb(235, 235, 235);
    transition: ease-in-out 0.2s;
}

.form__input--submit {
    font-size: 15px;
    border-radius: 10px;
    color:white;
    background-color: rgb(0, 100, 207);
    border: solid 1.5px rgb(0, 0, 207);
    font-weight: bold;
    transition: ease-in-out 0.2s;
    width: fit-content;
    min-width: 0;
}

.form__input--submit:hover {
    border-radius: 10px;
    background-color: rgb(0, 233, 0);
    border: solid 1.5px rgb(60, 174, 60);
    font-weight: bold;
    transition: ease-in-out 0.2s;
}

.alert {
    position: absolute;
    border-radius: 10px;
    background-color: white;
    border: 2px solid red;
    padding: 20px;
    top: 65%;
    box-shadow: 0px 0px 20px 0px rgb(171, 171, 171);

}

@media (max-width: 1200px) {
    .background {
        background-position-y: -850px;
    }
}

@media (max-width: 900px) {
    .background {
        background-position-y: 50%;
    }
    .form__label i{
        font-size:17px;
    }
    .form__label{
        padding: 10px;
    }
    .form__input {
        font-size:17px;
        padding: 10px;
    }
    .form__input--submit {
        font-size: 13px;
    }
}

/* 
    Created on : 15 mar 2024, 18:44:46
    Author     : Oliver
*/