.box{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin:auto;
    gap:40px;
}

.box__item{
    padding:20px 10px;
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 black;
    min-height: 80vh;
}
/* 
    Created on : 15 may 2024, 19:08:06
    Author     : Oliver
*/

