@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
    font-family: 'Montserrat', 'Open Sans', Helvetica, 'Arial', sans-serif;
}

/*rojo = #e7505a*/
.header {
    position: fixed;
    z-index: 1999999;
    top: 0;
    left: 0;
    right: 0;
    transition: ease-in-out 0.8s;
    background: linear-gradient(160deg, #dc00ff, #333, #333);
    color: white;
    padding: 10px 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__image {
    height: 30px;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu__button,
.user__button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__icon {
    font-size: 20px;
}

.user__button__image {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.user__button{
    flex-direction: column;
}

.user__button__txt{
    
}

.menu {
    position: relative;
    margin-right: 15px;
}

.menu__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    bottom: -100%;
    right: 0;
    margin-top: -10px;
    padding: 22px 0 0 0;
    background-color: #333;
    list-style-type: none;
    margin: 0;
}

.menu:hover .menu__dropdown {
    display: block;
}

.menu:hover {
    padding-left: 60px;
}

.menu__dropdown li {
    background-color: #454545;
    padding: 13px 25px;
}

.menu__dropdown li a {
    color: white;
    text-decoration: none;
}

.menu__dropdown li:hover {
    background-color: #606060;
}