.tbl {
    .tbl__header{
        margin-bottom: 0;
    }
    li{
        margin-bottom: 0 !important;
        margin-top: 25px;
    }
    .tbl__col--1 {
        flex-basis: 10%;
        justify-content: center;
    }

    .tbl__col--2 {
        flex-basis: 80%;
    }
    .tbl__row{
        .tbl__col--2 {
            font-size: 18px;
        }
        padding:20px 30px;
    }
    .tbl__list{
    overflow-y: auto;
    max-height: 400px;
    padding: 0 10px;
}
}
@media (max-width: 900px) {
        .tbl__col--1, .tbl__col--2 {
            flex-basis: 20%;
        }
    }
/* 
    Created on : 15 may 2024, 19:03:12
    Author     : Oliver
*/